# Django core
django>=5.1,<5.3
djangorestframework>=3.15
djangorestframework-simplejwt>=5.4

# Database
psycopg[binary]>=3.2
dj-database-url>=2.3

# Environment
python-decouple>=3.8

# CORS
django-cors-headers>=4.4

# Filtering
django-filter>=24.3

# Media handling
Pillow>=10.4
requests
